body {
  font: 15px sans-serif;
  margin: 10px;
}
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
#tooltip{
                
	background-color: black;
	font-family: sans-serif;
	font-size: 11px;
	color: whitesmoke;
	border: solid 1px #000;
	width: 100px;
	display: none;
	position: absolute;
}

#behaviour-chart-container {
  height: 600px;
  width: 700px;
  border:1px solid #000;
  overflow: scroll;
  float:left;
 }

 #bar-chart-container {
  height: 400px;
  width: 400px;
  border:1px solid #000;
  overflow: scroll;
  float:right;
 }

 #thread-chart-container {
  height: 700px;
  width: 1200px;
  border:1px solid #000;
  overflow: scroll;
  /*float:right;*/
 }

 .process {
    fill: #DF4949; 
    background: #DF4949;
}

.file {
    fill: #E27A3F; 
    background: #E27A3F;
}

.registry { 
    fill: #EFC94C; 
    background: #EFC94C;
}

.memory-section { 
    fill: #9B59B6; 
    background:  #9B59B6;
}

.virtual-memory {
    fill: #F495A3; 
    background: #F495A3;
}

.ipc { 
    fill: #45B29D; 
    background: #45B29D;
}


.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.axis path {
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #555;
}

.axis line {
  stroke: #e7e7e7;
  shape-rendering: crispEdges;
}

.axis .axis-label {
  font-size: 14px;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.dot {
  /* consider the stroke-with the mouse detect radius? */
  
  stroke: transparent;
  stroke-width: 10px;
  cursor: pointer;
}

.dot:hover {
  stroke: rgba(68, 127, 255, 0.3);
}  
